* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

.header {
    height: 10vh;
    position: fixed;
    width: 100vw;
}

.blue-bg {
    background-color: #7EC8F2;
}

.right {
    float: right;
    height: 100%;
}

.left {
    float: left;
    height: 100%;
}

.nav-list {
    list-style-type: none;
    height: 100%;
}

.nav-list li {
    margin-right: 50px;
    margin-top: 34px;
    display: inline-block;
}

.nav-list li a {
    text-decoration: none;
    color: white;
    font-weight: 700;
    font-size: 1.2em;
    display: block;
}

.nav-list li a:hover {

}

.nav-logo {
    margin-left: 50px;
    display: inline-block;
    vertical-align: middle;
}

