<!DOCTYPE html>
<html lang="en">
  <head>
      <meta charset="UTF-8">
      <title>LabBratz</title>
      <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
      <link rel="stylesheet" href="{{ url_for('static', filename='home.css') }}">
      <link rel="preconnect" href="https://fonts.googleapis.com">
      <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
      <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700;900&display=swap" rel="stylesheet">
  </head>
  <body>
    <div class="header blue-bg">
      <div class="left">
        <a href="#" class="nav-logo"><img src="{{ url_for('static', filename='logo.png') }}" height="75px"><span>LabBratz</span></a>
      </div>
      <div class="right">
        <ul class="nav-list">
          <li><a href="#">TLC</a></li>
          <li><a href="#">BAKTERIETÆLLING</a></li>
          <li><a href="#">QDA</a></li>
          <li><a href="#">INFO</a></li>
        </ul>
      </div>
    </div>
    <div style="padding-top: 10vh">
        {% block content %}
        {% endblock %}
    </div>
  </body>
</html>